* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Futura";
  height: 100vh;
}
.gameName {
  color: #3a5a40;
  width: 100%;
  height: 5vh;
  margin-top: 20px;
  text-align: center;
  font-family: "Futura";
}
.gameName span {
  color: tomato;
  font-family: "Futura";
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(#bbd2c5, #536976, #292e49);
}
#panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 1rem;
}
#ptop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: #84a98c;
  padding: 0 30%;
}
.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 3px;
  color: rgb(14, 101, 117);
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
#displayBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 5px;
  background-color: #ed4264, #ffedbc;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #52796f;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.bubble:hover {
  background-color: #354f52;
}
footer {
  background-color: #84a98c;
  text-align: center;
  height: 30px;
}
